/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/*Variáveis*/
:root {
    --container-color: #1a1e21; /*cor do container*/
    --second-color: #fd8f44; /*cor secundária*/
    --text-color: #172317; /*cor do texto*/
    --bg-color: #fff; /*cor do background*/
}

/*Cor de fundo ao selecionar*/
::selection {
    color: var(--bg-color);
    background: var(--second-color);
}

a {
    text-decoration: none; /*direção do link: nenhum*/
    color: black;
}

/*
a:hover{
    background-color: #fd8f44;
    border-radius: 4px;
    transition: 1s;
}
*/


li {
    list-style: none; /*estilo da lista: nenhuma*/
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 3rem;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/*Cabeçalho*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: 0.4s;
}

header.shadow .logo {
    color: var(--text-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo span { /*parte laranja da logo*/
    color: var(--second-color); 
}

.login {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background-color: var(--second-color);
    color: var(--bg-color);
}

.login:hover {
    background: hsl(24, 98%, 58%);
    transition: 0.3s;
}

/*Home*/

.home {
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-texto {
    color: var(--bg-color);
    text-align: center;
}

.home-titulo {
    font-size: 3.5rem;
}

.home-subtitulo {
    font-size: 1rem;
    font-weight: 400;
}

/*Filtro de Post*/

.filtro-post {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}

.filtro-item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.filtro-ativo {
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

/*Posts*/

.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.post-caixa {
    background: var(--bg-color);
    box-shadow: 0 4px 14px  hsl(365deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.categoria {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-titulo {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    /*Para manter o título em 2 linhas*/
    display: -webkit-box;
    -webkit-line-clamp: 2; /*aqui altera a quantidade de linhas*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-data {
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}

.post-descricao {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 5px;
    /*Para manter o título em 3 linhas*/
    display: -webkit-box;
    -webkit-line-clamp: 5; /*aqui altera a quantidade de linhas*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.confira:hover {
    background: hsl(24, 98%, 58%);
    transition: 0.3s;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color); 
}

.perfil-nome {
    font-size: 0.82rem;
    font-weight: 500;
}

/*Rodapé*/

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.rodape p {
    font-size: 0.938rem;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.social .bx {
    font-size: 1.4rem;
    color: var(--text-color);
}

.social .bx:hover {
    color: var(--second-color);
    transition: 0.3s all linear;
}

/*Conteúdo do Post*/
.post-cabecalho {
    width: 100%;
    height: 500px;
    background: var(--container-color);
}

.post-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.conteudo-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}

.voltar-home {
    color: var(--second-color);
    font-size: 0.9rem;
}

.cabecalho-titulo {
    width: 90%;
    font-size: 2.6rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1rem;
}

.cabecalho-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}

.post-conteudo {
    margin-top: 10rem !important;
}

.sub-titulo {
    font-size: 1.2rem;
}

.post-texto {
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

/*Compartilhamento*/
.compartilhar {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.compartilhar-titulo {
    font-size: 1.1rem;
}

/*Responsividade*/
@media (max-width: 1060px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }
    .home-texto {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .nav {
        padding: 14px 0;
    }
    .post-container {
        margin: 0 auto;
        width: 95%;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 10px 0;
    }

    section {
        padding: 2rem 0;
    }

    .conteudo-cabecalho {
        margin-top: 3rem !important;
    }

    .home {
        min-height: 380px;
    }

    .home-titulo {
        font-size: 3rem;
    }

    .cabecalho-titulo {
        font-size: 2rem;
    }

    .cabecalho-img {
        height: 370px;
    }

    .post-cabecalho {
        height: 435px;
    }

    .post-conteudo {
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px) {
    .filtro-item {
        font-size: 0.7rem;
    }

    .filtro-post {
        column-gap: 0.9rem;
    }

    .post-cabecalho {
        height: 390px;
    }

    .cabecalho-titulo {
        width: 100%;
    }

    .cabecalho-img {
        height: 340px;
    }

    .rodape {
        flex-direction: column;
        row-gap: 1rem;
        padding: 20px 0;
        text-align: center;
    }
}

@media (max-width: 475px) {
    .post-texto {
        font-size: 0.7rem;
    }

    .cabecalho-titulo {
        font-size: 1.9rem;
    }
}

@media (max-width: 452px) {
    .cabecalho-titulo {
        font-size: 1.8rem;
    }
}

@media (max-width: 428px) {
    .cabecalho-titulo {
        font-size: 1.6rem;
    }
}

@media (max-width: 396px) {
    .filtro-item {
        font-size: 0.6rem;
    }

    .filtro-post {
        column-gap: 0.9rem;
    }

    .home-titulo {
        font-size: 2rem;
    }

    .home-subtitulo {
        font-size: 0.9rem;
    }

    .home {
        min-height: 300px;
    }

    .post-caixa {
        padding: 10px;
    }

    .cabecalho-titulo {
        font-size: 1.4rem;
    }

    .cabecalho-img {
        height: 240px;
    }

    .post-cabecalho {
        height: 335px;
    }

    .post-conteudo {
        margin-top: 5rem !important;
    }

    .post-texto {
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin: 10px 0;
    }
}